.header{
    padding-bottom: 100px;
    /* border: 4px solid black; */
    /* background-color: rgb(77, 80, 77); */
    /* height: 100vh; */
    /* background-position: center center; */
    /* background-size: 100% 100%; */
    justify-content: center;
}

.title-container{
    color: rgba(255, 255, 255, 0.699);
    text-align: center;
    font-size: 2em;
}

.card-div{
    
    height: 280px;
    width: 260px;
    border: 1px solid grey;
    margin: 5px;
    border-radius: 10px;
}
.card-div > img{
    width: 250px;
}