.form-container {
    /* width: 400px; */
    text-align: center;
    display: flex;
    justify-content: center;
}
.form-card {
    width: 500px;
    /* border: 1px solid grey; */
    padding: 10px 20px;
    /* border-radius: 10px; */
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 14px 14px 25px #ababab, -14px -14px 25px #ffffff;
}
